## Ejercicio 1

#### ¿Cuál es el precio de un bono bullet con un valor nominal de S/ 1,000.00 de una empresa peruana con clasificación crediticia AAA, un plazo de vencimiento de 5 años y un cupón anual del 10%? Considerar la siguiente fecha de valorización :  04/08/2023.

La fórmula para valorizar un bono con tasas de interés variables y spread de crédito es:

$$
\text{Valor del Bono} = \sum_{i=1}^{n} \frac{C_i}{(1 + r_i + s)^i} + \frac{V_n}{(1 + r_n + s)^n}
$$

Donde:

- ${C_i}$  es el pago periódico de cupón en el período ${ i }$.
- ${ V_n }$ es el valor nominal (o valor de reembolso) del bono al vencimiento.
- ${ r_i }$ es la tasa de interés en el período ${ i }$.
- ${ r_n }$ es la tasa de interés en el período ${ n }$ (al vencimiento).
- ${ s }$ es el spread de crédito, que refleja el riesgo crediticio adicional asociado con el emisor del bono.
- ${ n }$ es el número de períodos hasta el vencimiento del bono.

## Solución 1

- Tipo de bono:  Bullet.
- Tasa cupón:  10%.
- Frecuencia de pago:  anual.


### ${ n }$=  5

In [9]:
n = 5

### ${ V_n }$=  S/. 1,000.00

In [10]:
V_n  =  1000

### ${C_i}$ = Tasa Cupon x ${ V_n }$

In [11]:
Ci = 0.1*V_n

### ${ r_i }$ es la tasa de interés en el período ${ i }$.

In [12]:
import pysbs_peru.CuponCero as cc

tp_curva = 'CCPSS'
fec_proceso = '04/08/2023'
df_cup= cc.get_curva_cupon_cero(tipoCurva=tp_curva, fechaProceso=fec_proceso)

⚡ CACHÉ DETECTADO (Parquet): Cargando datos desde './cache_temporal\resultado_curva_cupon_cero_historico_CCPSS.parquet'...
⚠️ caché actualizada...
   -> Filtrando desde: 2023-08-04
   -> Filtrando hasta: 2023-08-04

In [13]:
df_cup.head()

       Fecha Visual Fecha de Proceso Tipo de Curva  Plazo (DIAS)  Tasas (%)
599093   04/08/2023       2023-08-04         CCPSS             0    7.22315
599094   04/08/2023       2023-08-04         CCPSS            90    6.36772
599095   04/08/2023       2023-08-04         CCPSS           180    5.93516
599096   04/08/2023       2023-08-04         CCPSS           270    5.74726
599097   04/08/2023       2023-08-04         CCPSS           360    5.69780

In [14]:
df_cup_por_anio = df_cup[df_cup['Plazo (DIAS)'] % 360 == 0].copy()
df_cup_por_anio["Tasas"] = df_cup_por_anio["Tasas (%)"]/100
df_cup_por_anio.head()

,Fecha Visual,Fecha de Proceso,Tipo de Curva,Plazo (DIAS),Tasas (%),Tasas
599093,04/08/2023,2023-08-04,CCPSS,0,7.22315,0.072232
599097,04/08/2023,2023-08-04,CCPSS,360,5.69780,0.056978
599101,04/08/2023,2023-08-04,CCPSS,720,5.95284,0.059528
599105,04/08/2023,2023-08-04,CCPSS,1080,6.24714,0.062471
599109,04/08/2023,2023-08-04,CCPSS,1440,6.44064,0.064406

In [15]:
lista_tasas = df_cup_por_anio["Tasas"].tolist()
print(lista_tasas)

[0.0722315, 0.056978, 0.0595284, 0.062471399999999996, 0.0644064, 0.0656476, 0.0664844, 0.0670804, 0.0675253, 0.0678698, 0.0681447, 0.0683696, 0.0685573, 0.0687167, 0.068854, 0.06897400000000001, 0.0690799, 0.06917430000000001, 0.06925919999999999, 0.0693362, 0.06940640000000001, 0.0694708, 0.0695303, 0.0695854, 0.0696367, 0.0696846, 0.0697296, 0.0697718, 0.06981169999999999, 0.0698493, 0.069885, 0.0699188, 0.069951, 0.0699816, 0.0700108, 0.0700387, 0.0700653, 0.0700908, 0.0701152, 0.0701386, 0.0701611]

### ${ s }$ es el spread de crédito, que refleja el riesgo crediticio adicional asociado con el emisor del bono.

In [16]:
import pysbs_peru.IndiceSpreadsCorporativo as isc 
tpCurva = 'CCPSS'
fInicial = '04/08/2023'
fFinal = '04/08/2023'

df_isc = isc.get_indice_spreads_corporativo(tipoCurva=tpCurva,fechaInicio=fInicial, fechaFin=fFinal)

2. Filas totales descargadas: 4964
3. Muestra cruda de fecha (fila 0): '05/12/2025'
4. Fechas inválidas (NaT) detectadas: 0
5. Rango de fechas encontrado en el archivo: Del 2006-12-14 al 2025-12-05
   -> Filtrando desde: 2023-08-04
   -> Filtrando hasta: 2023-08-04
6. Filas finales después del filtro: 1

In [17]:
df_isc

  Fecha Visual Fecha de Proceso Tipo de Curva Clasificación  Indice de Spread
0   04/08/2023       2023-08-04         CCPSS             1             0.696

In [18]:
s =  df_isc.loc[0, "Indice de Spread"]
s = (s/100) #de puntos base a porcentajes en decimales
s

0.006959999999999999

### Obteniendo el precio del bono

In [19]:
import pandas as pd 

lista_pv = []

for index in range(n):

    i = index + 1
    tasa_cupon_cero_i = lista_tasas[i]
    indice_spread_coorp = s
    tasa_cupon_i = tasa_cupon_cero_i + indice_spread_coorp

    row = {}
    row["año"] = i
    row["Tasa cupón cero"] = tasa_cupon_cero_i
    row["Indice Spread Corporativo"] = indice_spread_coorp
    row["Tasa resultante"] = tasa_cupon_i

    denominador = ((1+tasa_cupon_i)**i)

    PV = Ci / denominador

    if i == n:
       
        PV = PV + V_n/denominador
           
    row["Cupón"] = PV

    lista_pv.append(row)

df_pv = pd.DataFrame(lista_pv)

df_pv

,año,Tasa cupón cero,Indice Spread Corporativo,Tasa resultante,Cupón
0,1,0.056978,0.00696,0.063938,93.990439
1,2,0.059528,0.00696,0.066488,87.920010
2,3,0.062471,0.00696,0.069431,81.760061
3,4,0.064406,0.00696,0.071366,75.901072
4,5,0.065648,0.00696,0.072608,774.797723

### Calculando el precio del bono

In [20]:
df_pv["Cupón"].sum()

1114.3693056279133